# ==========================================
# Progress OpenEdge / ABL
# ==========================================

*.r
*.tmp
*.bak
*.log
*.wrx


# ==========================================
# Ambiente / Configurações locais
# ==========================================

# Variáveis de ambiente
.env
.env.*

# Configurações locais
*.local


# ==========================================
# Sistema operacional
# ==========================================

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store


# ==========================================
# IDEs e editores
# ==========================================

# Visual Studio Code
.vscode/

# JetBrains
.idea/

# Eclipse
.project
.classpath
.settings/


# ==========================================
# Arquivos temporários
# ==========================================

*.swp
*.swo
*~

# Pastas temporárias
tmp/
temp/


# ==========================================
# Logs
# ==========================================

*.log


# ==========================================
# Testes / Cobertura
# ==========================================

coverage/